In [1]:
import requests
import json
import pandas as pd
from bs4 import BeautifulSoup as bs
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_timeStamps = pd.read_csv("./angel_timestamps.csv")

In [3]:
df_timeStamps

      Unnamed: 0           Start Time
0              0  2023-10-22 18:40:42
1              1  2023-10-22 17:51:14
2              2  2023-10-22 17:47:23
3              3  2023-10-22 04:04:07
4              4  2023-10-22 03:43:53
...          ...                  ...
5088        5088  2021-01-22 17:50:59
5089        5089  2021-01-22 03:53:53
5090        5090  2021-01-22 02:57:50
5091        5091  2021-01-22 02:55:41
5092        5092  2021-01-22 02:54:48

[5093 rows x 2 columns]